@{
    ViewData["Title"] = "404 - Page not found";
}
    <style>
        h1{text-align: center;}
        h3{text-align: center;}
    </style>

<h1>404 error</h1>
<br /><br />
<h3> This shorten URL doesn't exist or you don't have acces to it</h3>
